.flexrow-main-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 content;
    height: 100vh;
}

.main-body {
    display: flex;
    flex: 1 1 100%; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.registration-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5em;
}

.name-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.surname-input {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.email-input {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.telephone-input {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.role-input {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.password-input {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.already-registered-area {
    display: flex;
    flex-direction: column;
}